force-app/main/default/flows/Filter_By_Skill.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Skill_To_Variable</name>
        <label>Assign Skill To Variable</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ChosenSkill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skills</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filtered_Modules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Each_Skill</name>
        <label>Each Skill</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ModuleContainer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Modules</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Module</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>SkillsPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Skills__c</picklistField>
        <picklistObject>Module__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Filter By Skill {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Filter By Skill</label>
    <loops>
        <name>Each_Module</name>
        <label>Each Module</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Filtered_Modules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Each_Skill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ModulesBySkills</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Filtered_Modules</name>
        <label>Filtered Modules</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Module</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skills__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChosenSkill</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_a_Skill</name>
        <label>Choose a Skill</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Skill_To_Variable</targetReference>
        </connector>
        <fields>
            <name>Skills</name>
            <choiceReferences>SkillsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Skills</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ModulesBySkills</name>
        <label>Modules</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ModuleLink</name>
            <fieldText>&lt;p&gt;{!ModuleContainer}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_a_Skill</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Modules</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://projectp5com8-dev-ed.lightning.force.com/lightning/r/Module__c/{!Each_Module.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;&lt;em&gt;{!Each_Module.Name}&lt;/em&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ChosenSkill</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Module</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Module__c</objectType>
    </variables>
    <variables>
        <name>ModuleContainer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
